<ul>
	{{#each todos}}
		{{> todo this}}
	{{/each}}
</ul>
<form>
	<button type="button" id="test_button">Button</button>
	<label id="test_label">Test Label</label>
</form>
<script src="/javascripts/todosScript.js"></script>